/*
Barndoor.ai Public API

Unified public API specification for Barndoor.ai platform

API version: 2.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// RegistryAPIService RegistryAPI service
type RegistryAPIService service

type ApiConnectMcpServerRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	serverId string
	returnUrl *string
	scopes *string
	asService *bool
	credentialsPayload *CredentialsPayload
}

// Optional return URL for redirecting the user after connection completes.
func (r ApiConnectMcpServerRequest) ReturnUrl(returnUrl string) ApiConnectMcpServerRequest {
	r.returnUrl = &returnUrl
	return r
}

// Optional space-delimited runtime scope override for the OAuth auth URL. Precedence is: query scopes &gt; server resolved scopes &gt; directory fallback.
func (r ApiConnectMcpServerRequest) Scopes(scopes string) ApiConnectMcpServerRequest {
	r.scopes = &scopes
	return r
}

func (r ApiConnectMcpServerRequest) AsService(asService bool) ApiConnectMcpServerRequest {
	r.asService = &asService
	return r
}

func (r ApiConnectMcpServerRequest) CredentialsPayload(credentialsPayload CredentialsPayload) ApiConnectMcpServerRequest {
	r.credentialsPayload = &credentialsPayload
	return r
}

func (r ApiConnectMcpServerRequest) Execute() (*ConnectionInitiateResponse, *http.Response, error) {
	return r.ApiService.ConnectMcpServerExecute(r)
}

/*
ConnectMcpServer Authenticate an already-registered server

Authenticates the caller against an MCP server that is ALREADY registered in this organization. It does not add a server: a `server_id` that is not yet registered returns 404, and a catalog (directory) id is never valid here — that ordering is the usual reason this endpoint 404s. Registering a server is not available as a tool; an operator adds it in the console first.

For OAuth providers it returns an authorization URL for the user to visit. For non-OAuth providers (api_key, bearer_token, basic_auth, generic) credentials go in the request body — prefer a server registered with managed credentials so no secret passes through the caller at all, and never solicit one in a chat transcript.

`as_service: true` connects the tenant's shared service account rather than the calling user, which is what a server needs before it can be published.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId
 @return ApiConnectMcpServerRequest
*/
func (a *RegistryAPIService) ConnectMcpServer(ctx context.Context, serverId string) ApiConnectMcpServerRequest {
	return ApiConnectMcpServerRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return ConnectionInitiateResponse
func (a *RegistryAPIService) ConnectMcpServerExecute(r ApiConnectMcpServerRequest) (*ConnectionInitiateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConnectionInitiateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ConnectMcpServer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/{server_id}/connect"
	localVarPath = strings.Replace(localVarPath, "{"+"server_id"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.returnUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_url", r.returnUrl, "form", "")
	}
	if r.scopes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scopes", r.scopes, "form", "")
	}
	if r.asService != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_service", r.asService, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_service", defaultValue, "form", "")
		r.asService = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.credentialsPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCountAgentsByTypeRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
}

func (r ApiCountAgentsByTypeRequest) Execute() (*ApplicationCounts, *http.Response, error) {
	return r.ApiService.CountAgentsByTypeExecute(r)
}

/*
CountAgentsByType Get Application Counts

Get counts of applications by agent type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountAgentsByTypeRequest
*/
func (a *RegistryAPIService) CountAgentsByType(ctx context.Context) ApiCountAgentsByTypeRequest {
	return ApiCountAgentsByTypeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApplicationCounts
func (a *RegistryAPIService) CountAgentsByTypeExecute(r ApiCountAgentsByTypeRequest) (*ApplicationCounts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplicationCounts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.CountAgentsByType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agents/counts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDisconnectMcpServerRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	serverId string
	asService *bool
}

func (r ApiDisconnectMcpServerRequest) AsService(asService bool) ApiDisconnectMcpServerRequest {
	r.asService = &asService
	return r
}

func (r ApiDisconnectMcpServerRequest) Execute() (*http.Response, error) {
	return r.ApiService.DisconnectMcpServerExecute(r)
}

/*
DisconnectMcpServer Delete Connection

Delete the current user's (or service-account) connection to this server.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId
 @return ApiDisconnectMcpServerRequest
*/
func (a *RegistryAPIService) DisconnectMcpServer(ctx context.Context, serverId string) ApiDisconnectMcpServerRequest {
	return ApiDisconnectMcpServerRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
func (a *RegistryAPIService) DisconnectMcpServerExecute(r ApiDisconnectMcpServerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.DisconnectMcpServer")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/{server_id}/connection"
	localVarPath = strings.Replace(localVarPath, "{"+"server_id"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.asService != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_service", r.asService, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_service", defaultValue, "form", "")
		r.asService = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAgentRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	applicationId string
}

func (r ApiGetAgentRequest) Execute() (*ApplicationResponse, *http.Response, error) {
	return r.ApiService.GetAgentExecute(r)
}

/*
GetAgent Get Application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId
 @return ApiGetAgentRequest
*/
func (a *RegistryAPIService) GetAgent(ctx context.Context, applicationId string) ApiGetAgentRequest {
	return ApiGetAgentRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return ApplicationResponse
func (a *RegistryAPIService) GetAgentExecute(r ApiGetAgentRequest) (*ApplicationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplicationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.GetAgent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agents/{application_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"application_id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAgentDirectoryEntryRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	applicationDirectoryId string
	includeOauthConfig *bool
}

// Include OAuth configuration from the upstream IdP
func (r ApiGetAgentDirectoryEntryRequest) IncludeOauthConfig(includeOauthConfig bool) ApiGetAgentDirectoryEntryRequest {
	r.includeOauthConfig = &includeOauthConfig
	return r
}

func (r ApiGetAgentDirectoryEntryRequest) Execute() (*ApplicationDirectoryResponse, *http.Response, error) {
	return r.ApiService.GetAgentDirectoryEntryExecute(r)
}

/*
GetAgentDirectoryEntry Get Application Directory

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationDirectoryId
 @return ApiGetAgentDirectoryEntryRequest
*/
func (a *RegistryAPIService) GetAgentDirectoryEntry(ctx context.Context, applicationDirectoryId string) ApiGetAgentDirectoryEntryRequest {
	return ApiGetAgentDirectoryEntryRequest{
		ApiService: a,
		ctx: ctx,
		applicationDirectoryId: applicationDirectoryId,
	}
}

// Execute executes the request
//  @return ApplicationDirectoryResponse
func (a *RegistryAPIService) GetAgentDirectoryEntryExecute(r ApiGetAgentDirectoryEntryRequest) (*ApplicationDirectoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplicationDirectoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.GetAgentDirectoryEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agent-directory/{application_directory_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"application_directory_id"+"}", url.PathEscape(parameterValueToString(r.applicationDirectoryId, "applicationDirectoryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeOauthConfig != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_oauth_config", r.includeOauthConfig, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_oauth_config", defaultValue, "form", "")
		r.includeOauthConfig = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMcpServerRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	serverId string
	includeServiceAccounts *bool
	includeConnectionStatus *bool
}

// Include service account connections for can_manage_policies computation (does not affect connection_status)
func (r ApiGetMcpServerRequest) IncludeServiceAccounts(includeServiceAccounts bool) ApiGetMcpServerRequest {
	r.includeServiceAccounts = &includeServiceAccounts
	return r
}

// Include connection_status computation (requires Bao calls). Set to false for better performance when connection_status is not needed.
func (r ApiGetMcpServerRequest) IncludeConnectionStatus(includeConnectionStatus bool) ApiGetMcpServerRequest {
	r.includeConnectionStatus = &includeConnectionStatus
	return r
}

func (r ApiGetMcpServerRequest) Execute() (*ServerResponse, *http.Response, error) {
	return r.ApiService.GetMcpServerExecute(r)
}

/*
GetMcpServer Get Mcp Server

Return details for an individual MCP server including connection status and base URL.

``server_id`` is the UUID from ``GET /v1/servers`` list rows. The response
includes derived fields computed per request — ``connection_status``,
``url``, and the ``attention_tier`` / ``publish_blockers`` publish-state
pair — alongside the stored record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId
 @return ApiGetMcpServerRequest
*/
func (a *RegistryAPIService) GetMcpServer(ctx context.Context, serverId string) ApiGetMcpServerRequest {
	return ApiGetMcpServerRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return ServerResponse
func (a *RegistryAPIService) GetMcpServerExecute(r ApiGetMcpServerRequest) (*ServerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.GetMcpServer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/{server_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"server_id"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeServiceAccounts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_service_accounts", r.includeServiceAccounts, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_service_accounts", defaultValue, "form", "")
		r.includeServiceAccounts = &defaultValue
	}
	if r.includeConnectionStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_connection_status", r.includeConnectionStatus, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_connection_status", defaultValue, "form", "")
		r.includeConnectionStatus = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMcpServerBySlugRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	slug string
	includeServiceAccounts *bool
	includeConnectionStatus *bool
}

// Include service account connections for can_manage_policies computation (does not affect connection_status)
func (r ApiGetMcpServerBySlugRequest) IncludeServiceAccounts(includeServiceAccounts bool) ApiGetMcpServerBySlugRequest {
	r.includeServiceAccounts = &includeServiceAccounts
	return r
}

// Include connection_status computation (requires Bao calls). Set to false for better performance when connection_status is not needed.
func (r ApiGetMcpServerBySlugRequest) IncludeConnectionStatus(includeConnectionStatus bool) ApiGetMcpServerBySlugRequest {
	r.includeConnectionStatus = &includeConnectionStatus
	return r
}

func (r ApiGetMcpServerBySlugRequest) Execute() (*ServerResponse, *http.Response, error) {
	return r.ApiService.GetMcpServerBySlugExecute(r)
}

/*
GetMcpServerBySlug Get Mcp Server By Slug

Return details for an individual MCP server by slug.

Uses the slug and organization ID from auth context to fetch the server.
This is useful for fetching server details when you only have the service name/slug.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param slug
 @return ApiGetMcpServerBySlugRequest
*/
func (a *RegistryAPIService) GetMcpServerBySlug(ctx context.Context, slug string) ApiGetMcpServerBySlugRequest {
	return ApiGetMcpServerBySlugRequest{
		ApiService: a,
		ctx: ctx,
		slug: slug,
	}
}

// Execute executes the request
//  @return ServerResponse
func (a *RegistryAPIService) GetMcpServerBySlugExecute(r ApiGetMcpServerBySlugRequest) (*ServerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.GetMcpServerBySlug")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/by-slug/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeServiceAccounts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_service_accounts", r.includeServiceAccounts, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_service_accounts", defaultValue, "form", "")
		r.includeServiceAccounts = &defaultValue
	}
	if r.includeConnectionStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_connection_status", r.includeConnectionStatus, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_connection_status", defaultValue, "form", "")
		r.includeConnectionStatus = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMcpServerConnectionRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	serverId string
	asService *bool
}

func (r ApiGetMcpServerConnectionRequest) AsService(asService bool) ApiGetMcpServerConnectionRequest {
	r.asService = &asService
	return r
}

func (r ApiGetMcpServerConnectionRequest) Execute() (*ConnectionRead, *http.Response, error) {
	return r.ApiService.GetMcpServerConnectionExecute(r)
}

/*
GetMcpServerConnection Get Connection

Get the current user's (or service-account) connection status for this server.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId
 @return ApiGetMcpServerConnectionRequest
*/
func (a *RegistryAPIService) GetMcpServerConnection(ctx context.Context, serverId string) ApiGetMcpServerConnectionRequest {
	return ApiGetMcpServerConnectionRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return ConnectionRead
func (a *RegistryAPIService) GetMcpServerConnectionExecute(r ApiGetMcpServerConnectionRequest) (*ConnectionRead, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConnectionRead
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.GetMcpServerConnection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/{server_id}/connection"
	localVarPath = strings.Replace(localVarPath, "{"+"server_id"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.asService != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_service", r.asService, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_service", defaultValue, "form", "")
		r.asService = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMcpServerDirectoryEntryRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	serverDirectoryId string
	includeActiveServerIds *bool
}

// When true, include active_server_ids for this directory
func (r ApiGetMcpServerDirectoryEntryRequest) IncludeActiveServerIds(includeActiveServerIds bool) ApiGetMcpServerDirectoryEntryRequest {
	r.includeActiveServerIds = &includeActiveServerIds
	return r
}

func (r ApiGetMcpServerDirectoryEntryRequest) Execute() (*MCPServerDirectoryRead, *http.Response, error) {
	return r.ApiService.GetMcpServerDirectoryEntryExecute(r)
}

/*
GetMcpServerDirectoryEntry Get Server Directory

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverDirectoryId
 @return ApiGetMcpServerDirectoryEntryRequest
*/
func (a *RegistryAPIService) GetMcpServerDirectoryEntry(ctx context.Context, serverDirectoryId string) ApiGetMcpServerDirectoryEntryRequest {
	return ApiGetMcpServerDirectoryEntryRequest{
		ApiService: a,
		ctx: ctx,
		serverDirectoryId: serverDirectoryId,
	}
}

// Execute executes the request
//  @return MCPServerDirectoryRead
func (a *RegistryAPIService) GetMcpServerDirectoryEntryExecute(r ApiGetMcpServerDirectoryEntryRequest) (*MCPServerDirectoryRead, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MCPServerDirectoryRead
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.GetMcpServerDirectoryEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/server-directory/{server_directory_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"server_directory_id"+"}", url.PathEscape(parameterValueToString(r.serverDirectoryId, "serverDirectoryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeActiveServerIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_active_server_ids", r.includeActiveServerIds, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_active_server_ids", defaultValue, "form", "")
		r.includeActiveServerIds = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListActiveAgentIdsRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
}

func (r ApiListActiveAgentIdsRequest) Execute() (*IdListResponse, *http.Response, error) {
	return r.ApiService.ListActiveAgentIdsExecute(r)
}

/*
ListActiveAgentIds Get Active Application Ids

Return org-scoped, non-soft-deleted application IDs (uncapped, BCP-2766).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListActiveAgentIdsRequest
*/
func (a *RegistryAPIService) ListActiveAgentIds(ctx context.Context) ApiListActiveAgentIdsRequest {
	return ApiListActiveAgentIdsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IdListResponse
func (a *RegistryAPIService) ListActiveAgentIdsExecute(r ApiListActiveAgentIdsRequest) (*IdListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IdListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ListActiveAgentIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/applications/active-ids"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListActiveMcpDirectoryIdsRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
}

func (r ApiListActiveMcpDirectoryIdsRequest) Execute() (*IdListResponse, *http.Response, error) {
	return r.ApiService.ListActiveMcpDirectoryIdsExecute(r)
}

/*
ListActiveMcpDirectoryIds Get Active Server Directory Ids

Return alive (non-soft-deleted) directory IDs visible to the org (BCP-3308).

Mirrors ``GET /servers/active-ids`` (BCP-2766): backs the audit-history
"Deleted" badge. Directory audit events store the directory id in the
``mcp_server_id`` field, so the frontend unions these ids with the server
active set when tagging audit dimensions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListActiveMcpDirectoryIdsRequest
*/
func (a *RegistryAPIService) ListActiveMcpDirectoryIds(ctx context.Context) ApiListActiveMcpDirectoryIdsRequest {
	return ApiListActiveMcpDirectoryIdsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IdListResponse
func (a *RegistryAPIService) ListActiveMcpDirectoryIdsExecute(r ApiListActiveMcpDirectoryIdsRequest) (*IdListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IdListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ListActiveMcpDirectoryIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/server-directory/active-ids"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListActiveMcpServerIdsRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	availabilityStatus *bool
	audienceScoped *bool
}

// When omitted, returns all alive (non-soft-deleted) server IDs for the org. True returns only available servers (with the publishing flag on — BCP-3039 — published AND still operationally sound; else operationally available); False returns the complement. Uncapped — no pagination.
func (r ApiListActiveMcpServerIdsRequest) AvailabilityStatus(availabilityStatus bool) ApiListActiveMcpServerIdsRequest {
	r.availabilityStatus = &availabilityStatus
	return r
}

// BCP-3735: restrict the returned IDs to servers this user may discover — published AND named by an active allow rule on one of the server&#39;s ACTIVE policies (same semantics as GET /servers?audience_scoped&#x3D;true). Opt-in: the default keeps existing callers (audit-history deleted tagging, dashboard denominators) seeing every server. Fails closed with HTTP 503 when the visible set cannot be resolved.
func (r ApiListActiveMcpServerIdsRequest) AudienceScoped(audienceScoped bool) ApiListActiveMcpServerIdsRequest {
	r.audienceScoped = &audienceScoped
	return r
}

func (r ApiListActiveMcpServerIdsRequest) Execute() (*IdListResponse, *http.Response, error) {
	return r.ApiService.ListActiveMcpServerIdsExecute(r)
}

/*
ListActiveMcpServerIds Get Active Server Ids

Return org-scoped server IDs in a single uncapped response (BCP-2766).

Backs active-set lookups (audit-history deleted tagging, dashboard denominator)
that previously paginated/capped GET /servers at 100 items per page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListActiveMcpServerIdsRequest
*/
func (a *RegistryAPIService) ListActiveMcpServerIds(ctx context.Context) ApiListActiveMcpServerIdsRequest {
	return ApiListActiveMcpServerIdsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IdListResponse
func (a *RegistryAPIService) ListActiveMcpServerIdsExecute(r ApiListActiveMcpServerIdsRequest) (*IdListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IdListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ListActiveMcpServerIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/active-ids"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.availabilityStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "availability_status", r.availabilityStatus, "form", "")
	}
	if r.audienceScoped != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audience_scoped", r.audienceScoped, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "audience_scoped", defaultValue, "form", "")
		r.audienceScoped = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAgentDirectoryRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	search *string
	page *int32
	limit *int32
}

// Search application directories by name or description
func (r ApiListAgentDirectoryRequest) Search(search string) ApiListAgentDirectoryRequest {
	r.search = &search
	return r
}

// Page number (1-based)
func (r ApiListAgentDirectoryRequest) Page(page int32) ApiListAgentDirectoryRequest {
	r.page = &page
	return r
}

// Number of items per page (max 100)
func (r ApiListAgentDirectoryRequest) Limit(limit int32) ApiListAgentDirectoryRequest {
	r.limit = &limit
	return r
}

func (r ApiListAgentDirectoryRequest) Execute() (*PaginationResponseApplicationDirectoryResponse, *http.Response, error) {
	return r.ApiService.ListAgentDirectoryExecute(r)
}

/*
ListAgentDirectory List Applications Directory

List application directories with pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAgentDirectoryRequest
*/
func (a *RegistryAPIService) ListAgentDirectory(ctx context.Context) ApiListAgentDirectoryRequest {
	return ApiListAgentDirectoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginationResponseApplicationDirectoryResponse
func (a *RegistryAPIService) ListAgentDirectoryExecute(r ApiListAgentDirectoryRequest) (*PaginationResponseApplicationDirectoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginationResponseApplicationDirectoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ListAgentDirectory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agent-directory"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAgentsRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	search *string
	agentType *AgentType
	page *int32
	limit *int32
}

// Search applications by name or description
func (r ApiListAgentsRequest) Search(search string) ApiListAgentsRequest {
	r.search = &search
	return r
}

// Filter by agent type
func (r ApiListAgentsRequest) AgentType(agentType AgentType) ApiListAgentsRequest {
	r.agentType = &agentType
	return r
}

// Page number (1-based)
func (r ApiListAgentsRequest) Page(page int32) ApiListAgentsRequest {
	r.page = &page
	return r
}

// Number of items per page (max 100)
func (r ApiListAgentsRequest) Limit(limit int32) ApiListAgentsRequest {
	r.limit = &limit
	return r
}

func (r ApiListAgentsRequest) Execute() (*PaginationResponseApplicationResponse, *http.Response, error) {
	return r.ApiService.ListAgentsExecute(r)
}

/*
ListAgents List Applications

List applications with pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAgentsRequest
*/
func (a *RegistryAPIService) ListAgents(ctx context.Context) ApiListAgentsRequest {
	return ApiListAgentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginationResponseApplicationResponse
func (a *RegistryAPIService) ListAgentsExecute(r ApiListAgentsRequest) (*PaginationResponseApplicationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginationResponseApplicationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ListAgents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.agentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_type", r.agentType, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMcpServerDirectoryRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	search *string
	category *[]string
	orderBy *string
	order *string
	includeServers *bool
	page *int32
	limit *int32
	source *string
}

// Search server directories by name or description
func (r ApiListMcpServerDirectoryRequest) Search(search string) ApiListMcpServerDirectoryRequest {
	r.search = &search
	return r
}

// Filter by category slug(s)
func (r ApiListMcpServerDirectoryRequest) Category(category []string) ApiListMcpServerDirectoryRequest {
	r.category = &category
	return r
}

// Order by field: name or created_at (default: name)
func (r ApiListMcpServerDirectoryRequest) OrderBy(orderBy string) ApiListMcpServerDirectoryRequest {
	r.orderBy = &orderBy
	return r
}

// Order direction: asc or desc (default: asc)
func (r ApiListMcpServerDirectoryRequest) Order(order string) ApiListMcpServerDirectoryRequest {
	r.order = &order
	return r
}

// Include server instances for the current user&#39;s organization
func (r ApiListMcpServerDirectoryRequest) IncludeServers(includeServers bool) ApiListMcpServerDirectoryRequest {
	r.includeServers = &includeServers
	return r
}

// Page number (1-based)
func (r ApiListMcpServerDirectoryRequest) Page(page int32) ApiListMcpServerDirectoryRequest {
	r.page = &page
	return r
}

// Number of items per page (max 100)
func (r ApiListMcpServerDirectoryRequest) Limit(limit int32) ApiListMcpServerDirectoryRequest {
	r.limit = &limit
	return r
}

// Filter by source: barndoor, third_party, internal, custom_third_party, custom_internal, local, embedded, or aliases &#39;custom&#39; / &#39;local&#39; (which expand to their component sources)
func (r ApiListMcpServerDirectoryRequest) Source(source string) ApiListMcpServerDirectoryRequest {
	r.source = &source
	return r
}

func (r ApiListMcpServerDirectoryRequest) Execute() (*PaginationResponseMCPServerDirectoryReadWithServers, *http.Response, error) {
	return r.ApiService.ListMcpServerDirectoryExecute(r)
}

/*
ListMcpServerDirectory List Server Directory

List server directories with pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMcpServerDirectoryRequest
*/
func (a *RegistryAPIService) ListMcpServerDirectory(ctx context.Context) ApiListMcpServerDirectoryRequest {
	return ApiListMcpServerDirectoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginationResponseMCPServerDirectoryReadWithServers
func (a *RegistryAPIService) ListMcpServerDirectoryExecute(r ApiListMcpServerDirectoryRequest) (*PaginationResponseMCPServerDirectoryReadWithServers, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginationResponseMCPServerDirectoryReadWithServers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ListMcpServerDirectory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/server-directory"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.category != nil {
		t := *r.category
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "category", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "category", t, "form", "multi")
		}
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.includeServers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_servers", r.includeServers, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_servers", defaultValue, "form", "")
		r.includeServers = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMcpServersRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	search *string
	availabilityStatus *bool
	orderBy *string
	order *string
	includeServiceAccounts *bool
	includeConnectionStatus *bool
	audienceScoped *bool
	page *int32
	limit *int32
	connectionStatus *ConnectionStatus
	status *[]string
}

// Search servers by name, slug, or source
func (r ApiListMcpServersRequest) Search(search string) ApiListMcpServersRequest {
	r.search = &search
	return r
}

// Filter by availability status. With the publishing flag on (BCP-3039), True means the state an admin listing renders as Available — published AND still operationally sound — and False is every other state (Pending Publish, Connection Error, Pending Credentials, Pending Connection). Publishing itself is one-way: a published server that later degrades answers False here but stays published, so audience_scoped listings still consider it.
func (r ApiListMcpServersRequest) AvailabilityStatus(availabilityStatus bool) ApiListMcpServersRequest {
	r.availabilityStatus = &availabilityStatus
	return r
}

// Order by field: name, created_at, or attention (default: name). attention (BCP-3664) sorts attention-needing servers first — Pending Publish, Connection Error, Pending Credentials, Pending Connection, then Available — tie-broken by name ASC, then id ASC (the id term is what makes the order total, so paging is deterministic); &#x60;order&#x60; is ignored for this field. The rank is computed in SQL from DB-derived state, so it can disagree with the Bao-recomputed &#x60;can_manage_policies&#x60; the legacy (non-DB-first) listing path returns. Unrecognized values fall back to created_at rather than erroring — this parameter is under the public API stability contract, so the advertised enum narrows generated clients without tightening server-side validation.
func (r ApiListMcpServersRequest) OrderBy(orderBy string) ApiListMcpServersRequest {
	r.orderBy = &orderBy
	return r
}

// Order direction: asc or desc (default: asc)
func (r ApiListMcpServersRequest) Order(order string) ApiListMcpServersRequest {
	r.order = &order
	return r
}

// Include service account connections for can_manage_policies computation (does not affect connection_status)
func (r ApiListMcpServersRequest) IncludeServiceAccounts(includeServiceAccounts bool) ApiListMcpServersRequest {
	r.includeServiceAccounts = &includeServiceAccounts
	return r
}

// Include connection_status computation (requires Bao calls). Set to false for better performance when connection_status is not needed.
func (r ApiListMcpServersRequest) IncludeConnectionStatus(includeConnectionStatus bool) ApiListMcpServersRequest {
	r.includeConnectionStatus = &includeConnectionStatus
	return r
}

// BCP-3661: restrict the listing to servers this user may discover — published AND named by an active allow rule on one of the server&#39;s ACTIVE policies. Opt-in, because this same endpoint serves admin surfaces (policy authoring, connector pickers) that must keep seeing every server; filtering those would make a new server impossible to write its first policy for. Set it on end-user surfaces (My Apps) only. NOT gated by the mcp-server-publishing flag — an explicit request is always honoured (a flag-eval outage must not silently serve the unfiltered listing); the rollout gate is whether a surface sends the parameter at all (BCP-3735). Fails closed with HTTP 503 when the visible set cannot be resolved.
func (r ApiListMcpServersRequest) AudienceScoped(audienceScoped bool) ApiListMcpServersRequest {
	r.audienceScoped = &audienceScoped
	return r
}

// Page number (1-based)
func (r ApiListMcpServersRequest) Page(page int32) ApiListMcpServersRequest {
	r.page = &page
	return r
}

// Number of items per page (max 100)
func (r ApiListMcpServersRequest) Limit(limit int32) ApiListMcpServersRequest {
	r.limit = &limit
	return r
}

// Filter by connection status: connected, available, pending, error, not_connected. For multiple values, repeat the parameter (e.g., ?connection_status&#x3D;connected&amp;connection_status&#x3D;available). &#39;not_connected&#39; expands to [&#39;pending&#39;, &#39;error&#39;, &#39;available&#39;].
func (r ApiListMcpServersRequest) ConnectionStatus(connectionStatus ConnectionStatus) ApiListMcpServersRequest {
	r.connectionStatus = &connectionStatus
	return r
}

// Filter by server status: pending, active, error. For multiple values, repeat the parameter (e.g., ?status&#x3D;active&amp;status&#x3D;error)
func (r ApiListMcpServersRequest) Status(status []string) ApiListMcpServersRequest {
	r.status = &status
	return r
}

func (r ApiListMcpServersRequest) Execute() (*PaginationResponseServerListResponse, *http.Response, error) {
	return r.ApiService.ListMcpServersExecute(r)
}

/*
ListMcpServers Get Mcp Servers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMcpServersRequest
*/
func (a *RegistryAPIService) ListMcpServers(ctx context.Context) ApiListMcpServersRequest {
	return ApiListMcpServersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginationResponseServerListResponse
func (a *RegistryAPIService) ListMcpServersExecute(r ApiListMcpServersRequest) (*PaginationResponseServerListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginationResponseServerListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ListMcpServers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.availabilityStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "availability_status", r.availabilityStatus, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.includeServiceAccounts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_service_accounts", r.includeServiceAccounts, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_service_accounts", defaultValue, "form", "")
		r.includeServiceAccounts = &defaultValue
	}
	if r.includeConnectionStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_connection_status", r.includeConnectionStatus, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_connection_status", defaultValue, "form", "")
		r.includeConnectionStatus = &defaultValue
	}
	if r.audienceScoped != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audience_scoped", r.audienceScoped, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "audience_scoped", defaultValue, "form", "")
		r.audienceScoped = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.connectionStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connection_status", r.connectionStatus, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPublishMcpServerRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	serverId string
}

func (r ApiPublishMcpServerRequest) Execute() (*ServerResponse, *http.Response, error) {
	return r.ApiService.PublishMcpServerExecute(r)
}

/*
PublishMcpServer Publish Mcp Server

BCP-3039 — one-way publish gate.

Publishing makes a server discoverable in end-user listings
(``published_at IS NOT NULL``). It is deliberately one-way: there is no
unpublish, and later operational-state changes never hide a published
server — taking a server out of service means deactivating its policies.

Preconditions (422 when unmet):
- the server is operationally available (``server_available_expr``:
  status=active AND requires_auth=false / embedded-local source / a
  "connected" tenant service-account connection), and
- it has at least one ACTIVE policy (verified against policy-service with
  the caller's own token; 403 when policy-service refuses the caller,
  503 when it can't answer).

Re-publishing an already-published server is an idempotent no-op success.

Audit: every rejected publish of an existing server (403/422/503) and every
state-changing success emit an event; the idempotent no-op does not, so the
audit trail means "a publish happened".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId
 @return ApiPublishMcpServerRequest
*/
func (a *RegistryAPIService) PublishMcpServer(ctx context.Context, serverId string) ApiPublishMcpServerRequest {
	return ApiPublishMcpServerRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return ServerResponse
func (a *RegistryAPIService) PublishMcpServerExecute(r ApiPublishMcpServerRequest) (*ServerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.PublishMcpServer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/{server_id}/publish"
	localVarPath = strings.Replace(localVarPath, "{"+"server_id"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRegisterAgentRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	applicationPayload *ApplicationPayload
}

func (r ApiRegisterAgentRequest) ApplicationPayload(applicationPayload ApplicationPayload) ApiRegisterAgentRequest {
	r.applicationPayload = &applicationPayload
	return r
}

func (r ApiRegisterAgentRequest) Execute() (*Application, *http.Response, error) {
	return r.ApiService.RegisterAgentExecute(r)
}

/*
RegisterAgent Register Application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRegisterAgentRequest
*/
func (a *RegistryAPIService) RegisterAgent(ctx context.Context) ApiRegisterAgentRequest {
	return ApiRegisterAgentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Application
func (a *RegistryAPIService) RegisterAgentExecute(r ApiRegisterAgentRequest) (*Application, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Application
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.RegisterAgent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationPayload == nil {
		return localVarReturnValue, nil, reportError("applicationPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReportMcpConnectionAuthErrorRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	serverId string
	rejectedFingerprint *string
}

func (r ApiReportMcpConnectionAuthErrorRequest) RejectedFingerprint(rejectedFingerprint string) ApiReportMcpConnectionAuthErrorRequest {
	r.rejectedFingerprint = &rejectedFingerprint
	return r
}

func (r ApiReportMcpConnectionAuthErrorRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReportMcpConnectionAuthErrorExecute(r)
}

/*
ReportMcpConnectionAuthError Report Connection Auth Error

Mark the calling user's connection as needing re-authorization.

Called by tool-router when the upstream provider rejects the stored OAuth
token mid-use (e.g. a Salesforce session revoked out-of-band while the
recorded expiry is still in the future), so the UI flips to a reconnect
prompt instead of continuing to show "connected".

Scoped to the caller's own connection on this server — it cannot affect
other users' connections or the server configuration, so the worst a
misbehaving caller can do is force themselves to reconnect.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId
 @return ApiReportMcpConnectionAuthErrorRequest
*/
func (a *RegistryAPIService) ReportMcpConnectionAuthError(ctx context.Context, serverId string) ApiReportMcpConnectionAuthErrorRequest {
	return ApiReportMcpConnectionAuthErrorRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
func (a *RegistryAPIService) ReportMcpConnectionAuthErrorExecute(r ApiReportMcpConnectionAuthErrorRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.ReportMcpConnectionAuthError")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/servers/{server_id}/connection/auth-error"
	localVarPath = strings.Replace(localVarPath, "{"+"server_id"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.rejectedFingerprint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rejected_fingerprint", r.rejectedFingerprint, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUnregisterAgentRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	applicationId string
}

func (r ApiUnregisterAgentRequest) Execute() (*http.Response, error) {
	return r.ApiService.UnregisterAgentExecute(r)
}

/*
UnregisterAgent Unregister Application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId
 @return ApiUnregisterAgentRequest
*/
func (a *RegistryAPIService) UnregisterAgent(ctx context.Context, applicationId string) ApiUnregisterAgentRequest {
	return ApiUnregisterAgentRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
func (a *RegistryAPIService) UnregisterAgentExecute(r ApiUnregisterAgentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.UnregisterAgent")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agents/{application_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"application_id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUpdateAgentLlmGatewayRequest struct {
	ctx context.Context
	ApiService *RegistryAPIService
	applicationId string
	applicationLlmGatewayPayload *ApplicationLlmGatewayPayload
}

func (r ApiUpdateAgentLlmGatewayRequest) ApplicationLlmGatewayPayload(applicationLlmGatewayPayload ApplicationLlmGatewayPayload) ApiUpdateAgentLlmGatewayRequest {
	r.applicationLlmGatewayPayload = &applicationLlmGatewayPayload
	return r
}

func (r ApiUpdateAgentLlmGatewayRequest) Execute() (*ApplicationResponse, *http.Response, error) {
	return r.ApiService.UpdateAgentLlmGatewayExecute(r)
}

/*
UpdateAgentLlmGateway Update Application Llm Gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId
 @return ApiUpdateAgentLlmGatewayRequest
*/
func (a *RegistryAPIService) UpdateAgentLlmGateway(ctx context.Context, applicationId string) ApiUpdateAgentLlmGatewayRequest {
	return ApiUpdateAgentLlmGatewayRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return ApplicationResponse
func (a *RegistryAPIService) UpdateAgentLlmGatewayExecute(r ApiUpdateAgentLlmGatewayRequest) (*ApplicationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplicationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RegistryAPIService.UpdateAgentLlmGateway")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/registry/v1/agents/{application_id}/llm-gateway"
	localVarPath = strings.Replace(localVarPath, "{"+"application_id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationLlmGatewayPayload == nil {
		return localVarReturnValue, nil, reportError("applicationLlmGatewayPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationLlmGatewayPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
[...]
